nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
   

}
.span1{
    color: red;
}
nav>ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style:none ;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}
.btn-primary{
    border-radius: 5px;
    background-color:  #FD6E0A ;
    border: 0;
    font-weight: 700;
    font-style: 20px;
    color: white;
    padding: 15px 16px;
}
.header{
    background-color: #FFF8F3;
    background-image: url(image/rainbow.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    padding: 20px 20px 0px 120px ;
    display: flex;
}
.banner .profile-pic{
    width: 780px;
}
.banner-greeting{
    font-style: 25px;
    font-weight: 800;
    margin-bottom: 0;;

}
.banner-title{
    font-size: 55px;
    margin-top: 5px;
    margin-bottom: 10px;


}
.banner-description{
    margin-top: 0;

}
/*main tag kaj*/
.section-title{
    color: #181818;
    text-align: center;
    font-size:35px ;
    font-weight: 700; 

}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.about{
    padding: 130px;
   border-radius: 10px;
   background-color: #FFF8F3;
   margin: 130px 0;
}
