nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
   

}
.span1{
    color: red;
}
nav>ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style:none ;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}
.btn-primary{
    border-radius: 5px;
    background-color:  #FD6E0A ;
    border: 0;
    font-weight: 700;
    font-style: 20px;
    color: white;
    padding: 15px 16px;
}
.header{
    background-color: #FFF8F3;
    background-image: url(image/rainbow.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    padding: 20px 20px 0px 120px ;
    display: flex;
}
.banner .profile-pic{
    width: 780px;
}
.banner-greeting{
    font-style: 25px;
    font-weight: 800;
    margin-bottom: 0;;

}
.banner-title{
    font-size: 55px;
    margin-top: 5px;
    margin-bottom: 10px;


}
.banner-description{
    margin-top: 0;

}
/*main tag kaj*/
main{
    max-width: 910px;
    margin: 0 auto;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size:35px ;
    font-weight: 700; 

}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.about{
    padding: 100px;
   border-radius: 10px;
   background-color: #FFF8F3;
   margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
  
}
.about-info{
    text-align: center;
}
/* finish main tag & about*/
/*started what i do */

#what-i-do-description{
    padding: 30px 150px;
}
/*started what i do/skilled side */
.skills-container{
    display: flex;
    gap: 18px;
}
.skill{
    padding: 26px;
    border-radius: 5px;
   

}
.skill-description{
    color: #757575;

}
/*summary of resume*/
.resume-container{
    display: flex;
    gap:  50px;

}
.resume-column{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-item-institute,.resume-item-description{
    color: #757575;

}
.resume-item-title{
    color: #474747;
    
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;

}

.resume-container hr{
    margin: 30px ;
}
.download-cv{
    text-align: center;
    margin-top: 30px;
    
}
/*footer*/
footer{
    display:  flex;
   background-color: #FFF8F3;
   margin-top:100px ;
   padding:130px 200px;
   
}